# Проект: классификация

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from  sklearn.ensemble import IsolationForest
import warnings
warnings.filterwarnings('ignore')
from sklearn.preprocessing  import LabelEncoder
from sklearn import linear_model
from sklearn import tree
from sklearn import ensemble
from sklearn import metrics
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import SelectKBest, f_classif

## Часть 1. Знакомство с данными, обработка пропусков и выбросов

### Задание 1

In [ ]:
df = pd.read_csv('data/bank_fin.csv', sep = ';')

In [ ]:
# исследуйте данные на предмет пропусков. Где есть пропущенные значения? Сколько их?

display(df.sample(3))
df.isnull().sum()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
3925,43,admin.,single,secondary,no,"1 707,00 $",yes,no,cellular,6,sep,369,3,504,5,other,yes
2220,29,technician,married,secondary,no,"23,00 $",yes,no,cellular,2,jun,163,1,55,2,failure,yes
2352,69,retired,divorced,primary,no,"482,00 $",no,no,cellular,2,jul,260,2,-1,0,unknown,yes

age           0
job           0
marital       0
education     0
default       0
balance      25
housing       0
loan          0
contact       0
day           0
month         0
duration      0
campaign      0
pdays         0
previous      0
poutcome      0
deposit       0
dtype: int64

### Задание 2

In [ ]:
# есть ли в признаке job пропущенные значения? Возможно, они обозначены каким-то специальным словом?
df['job'].value_counts()

job
management       2566
blue-collar      1944
technician       1823
admin.           1334
services          923
retired           778
self-employed     405
student           360
unemployed        357
entrepreneur      328
housemaid         274
unknown            70
Name: count, dtype: int64

### Задание 3

In [ ]:
# преобразуйте признак balance таким образом, чтобы он корректно считывался, как вещественное число (float)
def balance_to_float(x):
    x = str(x)
    return float(x.split(',')[0].replace(' ', '').replace('$', ''))

df['balance'] = df['balance'].apply(balance_to_float)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
9,28,services,single,secondary,no,NaN,yes,no,unknown,6,may,1297,3,-1,0,unknown,yes
2859,47,management,married,tertiary,no,NaN,no,no,cellular,29,oct,424,2,213,3,success,yes
2860,30,technician,single,secondary,no,NaN,no,no,cellular,29,oct,279,1,148,1,failure,yes
2888,67,retired,married,primary,no,NaN,no,no,cellular,6,nov,455,2,84,2,other,yes
2889,24,technician,married,secondary,no,NaN,yes,no,cellular,6,nov,368,2,80,2,success,yes
5356,45,blue-collar,married,primary,no,NaN,no,no,cellular,18,aug,230,8,-1,0,unknown,no
5357,40,blue-collar,married,secondary,no,NaN,yes,no,unknown,29,may,218,2,-1,0,unknown,no
5358,41,blue-collar,married,primary,no,NaN,yes,no,cellular,21,nov,888,3,-1,0,unknown,no
5359,35,management,single,tertiary,no,NaN,yes,yes,cellular,6,feb,217,1,-1,0,unknown,no
5360,62,retired,married,tertiary,no,NaN,yes,no,cellular,15,oct,73,1,-1,0,unknown,no
5361,42,technician,married,secondary,yes,NaN,yes,no,cellular,6,aug,66,7,-1,0,unknown,no
5362,38,management,divorced,tertiary,no,NaN,yes,no,cellular,20,nov,640,1,-1,0,unknown,no
5385,37,blue-collar,married,secondary,no,NaN,yes,no,unknown,8,may,69,2,-1,0,unknown,no
5386,39,management,married,tertiary,no,NaN,yes,no,cellular,8,may,440,1,-1,0,unknown,no
5427,35,technician,married,secondary,no,NaN,yes,no,cellular,29,jul,281,4,-1,0,unknown,no
5428,25,technician,single,secondary,no,NaN,no,no,cellular,26,may,137,2,-1,0,unknown,no
5465,36,blue-collar,married,primary,no,NaN,no,no,telephone,20,nov,35,1,-1,0,unknown,no
5467,30,management,married,tertiary,no,NaN,yes,no,unknown,14,may,382,10,-1,0,unknown,no
5468,50,technician,married,tertiary,no,NaN,no,no,unknown,23,may,173,1,-1,0,unknown,no
5480,45,retired,single,secondary,yes,NaN,no,no,cellular,21,nov,64,5,-1,0,unknown,no
5481,33,management,married,tertiary,no,NaN,no,yes,cellular,28,aug,95,10,-1,0,unknown,no
5570,39,services,divorced,primary,no,NaN,yes,no,unknown,6,may,161,2,-1,0,unknown,no
5571,38,blue-collar,married,secondary,no,NaN,yes,no,unknown,28,may,130,2,-1,0,unknown,no
9954,35,services,single,secondary,no,NaN,yes,no,cellular,31,jul,39,2,-1,0,unknown,no
9955,42,technician,divorced,secondary,no,NaN,yes,no,unknown,29,may,95,1,-1,0,unknown,no

### Задание 4

In [ ]:
# обработайте пропуски в признаки balance , заменив их на медианные значения по данному признаку

df.loc[df['balance'].isnull(), 'balance'] = df['balance'].median()
df.info()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
deposit      0
dtype: int64

### Задание 5

In [ ]:
# обработайте пропуски в категориальных признаках: job и education, заменив их на модальные значения

df.loc[df['job'] == 'unknown', 'job'] = df['job'].mode()
df.loc[df['education'] == 'unknown', 'education'] = df['education'].mode()

### Задание 6

In [ ]:
# удалите все выбросы для признака balance
df['balance'].describe()

count    11162.000000
mean      1526.936033
std       3224.829691
min      -6847.000000
25%        123.000000
50%        550.000000
75%       1699.000000
max      81204.000000
Name: balance, dtype: float64

## Часть 2:  Разведывательный анализ

### Задание 1

In [ ]:
# изучите соотношение классов в ваших данных на предмет несбалансированности, проиллюстрируйте результат
# ваш код

### Задания 2 и 3

In [ ]:
#рассчитайте описательные статистики для количественных переменных, проинтерпретируйте результат
#ваш код

### Задания 4 и 5

In [ ]:
#рассчитайте описательные статистики для категориальных переменных, проинтерпретируйте результат
#ваш код
#постройте визуализации, иллюстрирующие результаты

### Задание 6

In [ ]:
# Узнайте, для какого статуса предыдущей маркетинговой кампании успех в текущей превалирует над количеством неудач.
# ваш код

### Задание 7

In [ ]:
# узнайте, в каком месяце чаще всего отказывались от предложения открыть депозит
# ваш код

### Задание 8

In [ ]:
# создайте возрастные группы и определите, в каких группах более склонны открывать депозит, чем отказываться от предложения

### Задания 9 и 10

In [ ]:
# постройте визуализации для открывших и неоткрывших депозит в зависимости от семейного статуса

In [ ]:
# постройте визуализации для открывших и неоткрывших депозит в зависимости от образования

In [ ]:
# постройте визуализации для открывших и неоткрывших депозит в зависимости от вида профессиональной занятости

### Задание 11

In [ ]:
# постройте сводную таблицу, чтобы определить люди с каким образованием и семейным статусом наиболее многочисленны
#(если рассматривать тех, кто открыл депозит)

## Часть 3: преобразование данных

### Задание 1

In [ ]:
# преобразуйте уровни образования

### Задания 2 и 3

In [ ]:
# преобразуйте бинарные переменные в представление из нулей и единиц

### Задание 4

In [ ]:
# создайте дамми-переменные

### Задания 5 и 6

In [ ]:
# постройте корреляционную матрицу и оцените данные на предмет наличия мультиколлинеарности

### Задания 7 и 8

In [ ]:
X = df.drop(['deposit'], axis=1)
y = df['deposit']

X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, random_state = 42, test_size = 0.33)

In [ ]:
# рассчитайте необходимые показатели

### Задание 9

In [ ]:
# с помощью SelectKBest отберите 15 наиболее подходящих признаков

### Задание 10

In [ ]:
# нормализуйте данные с помощью minmaxsxaler

# Часть 4: Решение задачи классификации: логистическая регрессия и решающие деревья

### Задание 1

In [ ]:
# обучите логистическую регрессию и рассчитайте метрики качества

### Задания 2,3,4

In [ ]:
# обучите решающие деревья, настройте максимальную глубину

### Задание 5

In [ ]:
# подберите оптимальные параметры с помощью gridsearch

# Часть 5: Решение задачи классификации: ансамбли моделей и построение прогноза

### Задание 1

In [ ]:
# обучите на ваших данных случайный лес

### Задания 2 и 3

In [ ]:
# используйте для классификации градиентный бустинг и сравните качество со случайным лесом

### Задание 4

In [ ]:
# объедините уже известные вам алгоритмы с помощью стекинга

### Задание 5

In [ ]:
# оцените, какие признаки демонстрируют наибольшую  важность в модели градиентного бустинга

### Задания 6,7,8

In [ ]:
# реализуйте оптимизацию гиперпараметров с помощью Optuna